body{
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 125%;
    color: #25282B;
}


.container{
    box-sizing: border-box;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ================================== */

.header {
    line-height: 1.5;
}

.header__inner {
    min-height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
}
.nav {
}

.nav__list {
    display: flex;
    justify-content: start;
    gap: 30px;
}
.nav__item {
}
.nav_link {
}
.header__logo {
    max-width: 54px;
}
.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: end;
}
.socials__item {
}
.socials__link {
}

/* ================================== */


.hero {
    padding: 120px 0;
    color: #F8FCFF;
    line-height: 1.5;
    position: relative;
    min-width: 670px;

}
.hero__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__title {
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 30px;
}
.hero__list {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
}
.hero__list_item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 15px;
    transition: all .5s;
}

.hero__list_item:last-child{
    margin-bottom: 0;
}

.hero__list_item path{
    transition: all .5s;
}

.hero__list_item:hover{
    color: #1D6FB6;
}

.hero__list_item:hover path{
    fill: #1D6FB6;
}

.button {
    display: block;
    width: 100%;
    max-width: 288px;
    height: 56px;
    border-radius: 100px;
    background: #F8FCFF;
    padding: 18px 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1D6FB6;
    transition: all .5s;
}

.button:hover{
    color: #F8FCFF;
    background: #83ADD3;
}

.hero__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.hero__video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #102e49cc; 
}


/* ================================== */

.main__general {
    padding: 120px 0;
}

.main__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.sidebar {
    line-height: 20px;
    font-weight: 500;
    border: 2px solid #D0DCE7;
    width: 100%;
    max-width: 282px;
    min-height: 60%;
    padding: 30px;
}


.main_sidebar{
    position: sticky;
    top: 5%;
}

.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child{
    margin-bottom: 0;
}


.main__body {
    width: 100%;
    max-width: 792px;
}



.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 24px;
    width: 100%;
    font-weight: 500;
    line-height: 20px;
    color: #F8FCFF;

}

.main__gallery{
    margin-bottom: 120px;
}

.gallery__img{
    display: block; 
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center center;

}

.gallery__img--large-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--large-right {
    grid-column: -1/-3;
    grid-row: span 2;
}


.gallery_hint{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1D6FB6B2;
    height: 53px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: all .5s;
    opacity: 0
}


.gallery__img--large-left .gallery_hint,
.gallery__img--large-right .gallery_hint{
    height: 108px;
    font-size: 24px;
    line-height: 29px;

}


.gallery__img:hover .gallery_hint{
    transform: translateY(0%);
    opacity: 1;
}



/* ================================== */


.products {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.products__item-img{
    position: relative;
    padding: 31%;

}
.products__item-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center center;

}

.products__item-badge{
    position: absolute;
    top: 12.5%;
    left: 0;
    
    border-radius: 0 100px 100px 0;
    background:#F8FCFF;
    padding: 18px 30px;
    min-width: 34%;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
    color: #1D6FB6;
    animation: badge-animation 2s infinite alternate;
}

@keyframes badge-animation {
    0% {
        min-width: 34%;
    }

    66.666%{
        min-width: 34%;
    }

    100%{
        min-width: 37.3%;
    }
    
}

.products__item-body{
    border:  1px solid #D0DCE7;
    padding: 30px 48px 30px 47px;
}


/* ================================== */

.footer{
    color:#F8FCFF;
    line-height: 20px;
    background: #788088;
    text-align: center;
    padding: 30px 0;
}

.footer__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}




