.section__studying {
    position: relative;
}

.studying__title {
    margin-bottom: 20px;
}

.studying__subtitle {
    font-size: 18px;
    margin-bottom: 27px;
}


.studying__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}


details[open] .studying__faq-block::after {
    background: url("../../../icons/sprites/details_close.svg");
}



summary {
    list-style: none;
}

.studying__faq-block {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 105%;
    color: var(--color--white);
    background: var(--color--details--background);
    border-radius: 6px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 45px 18px 45px;

}

.studying__faq-duration {
    font-size: 15px;
    color: var(--color--title--accent);
    font-weight: 500;
}


.studying__faq-block::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--color--ellipse--details);
    box-shadow: 0 4px 8px 0 rgba(0, 224, 255, 0.56);
    position: absolute;
    left: 17px;
}

.studying__faq-block::after {
    content: "";
    background: url("../../../icons/sprites/details-active.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    right: 15px;
    transition: 0.5s;
    cursor: pointer;

}


.studying__list {
    list-style: none;
    counter-reset: item-counter;
}

.studying__list-item {
    position: relative;
    counter-increment: item-counter;
    margin: 40px 0px;
    padding-left: 45px;
}

.studying__list-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 131%;
    color: var(--color--blue--accent);
    margin-bottom: 15px;
}

.studying__list-item::before {
    content: counter(item-counter);
    position: absolute;
    width: 27px;
    height: 27px;
    left: 0px;
    top: -3px;
    border-radius: 100%;
    background: var(--color--blue--accent);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #08262b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studying__list-text {
    font-size: 16px;
    line-height: 131%;
}


.studying__faq-development {
    font-weight: 500;
    font-size: 13px;
    line-height: 162%;
    text-transform: uppercase;
    color: #08262b;
    background: #00e0ff;
    padding: 2px 4px;
}




@media (width <=700px) {
    .studying__faq-block {
        flex-direction: column;
        align-items: start;
    }


    .studying__wrapper {
        margin-bottom: 40px;
    }


    .studying_button {
        max-width: 100%;
    }
}