:root {
    --general-text: #312C27;
    --general-bg: #FFF9F4;
    --sevondary-bg: #FFF9F4;
    --accent-color: #FFA55C;
    --title-color: #1F1711;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}


.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}


.button {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;
    border-radius: 100px;
    height: 62px;
    background: var(--accent-color);
    font-weight: 500;
    line-height: 1.6;
    transition: all .5s;
}

.button:hover {
    background: #FF9138;
}


/* ================================================================================= */

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
    z-index: 0;
}


.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.header__logotype {
    max-width: 174.22px;
    z-index: 11;
}

.header__logotype img {
    width: 100%;
}

.nav {}

.nav__list {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 4vh 40px;
}

.nav__item {}


.nav__link {
    display: block;
    padding: 7px 0;
    position: relative;
}


.nav__link::before {
    content: ' ';
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: var(--accent-color);
    z-index: -1;
    top: -6px;
    left: -13px;
    opacity: 0;
    transition: all .4s;
}



.nav__link:hover::before {
    opacity: 1;
}


.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    justify-self: end;
    z-index: 11;

}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}


.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);

}


.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);

}




/* ================================================================================ */


.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    padding-top: 82px;
    max-width: 520px;
}

.hero__info {
    color: #b197b2;
    line-height: 1.6;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.point {
    border-radius: 100%;
    width: 4px;
    height: 4px;
    background: #b197b2;
}

.hero__title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 82%;
    max-width: 519px;
    color: var(--general-text);
    margin-bottom: 30px;
}


.hero__text {
    margin-bottom: 40px;
    max-width: 358px;
}

.hero__button {
    max-width: 358px;
    width: 100%;
}


.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    max-width: 100%;
}


.hero__img-control {
    color: var(--general-text);
    position: absolute;
    left: calc(100% - 39px);
    bottom: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 200px;
    text-align: left;

}

.hero__img-control--mobile{
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFE0CB;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    transition: all .4s;
}


.hero__img-button::before {
    content: '';
    border-radius: 50%;
    width: 68px;
    height: 68px;
    border: 1px solid var(--accent-color);
    position: absolute;
    opacity: 0;
    transition: all .4s;
}


.hero__img-button:hover::before {
    opacity: 1;
}



.hero__img-button img {
    padding-left: 4.4px;
}



/* ================================================================================= */


@media(max-width: 1200px){

    .hero__img {
    margin-right: 0px;
    max-width: 377px;
}

    .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 30px;
}

}

@media(max-width: 1060px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 2;
        background: var(--general-bg);
        padding: 25vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }
}

@media(max-width: 800px){

    .hero__content {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
    
    .hero__img{
        display: none;
    }

    .hero__img-control--mobile{
        display: flex;
        margin: 0 0 30px;
    }
}


@media(max-width: 600px){

    .hero__title{
        font-size: 13vw;
    }
}





@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }
    .hero__img-conrol {
        position: static;
        max-width: none;
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }
}

@media (max-width: 800px) {

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }
    .hero__img-conrol--mobile {
        display: flex;
        margin: 0 0 30px;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 80px;
    }
    .hero__title {
        font-size: 12vw;
    }
}