.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 68px;
    padding-bottom: 45px;
}


.footer__logotype img {
    max-width: 287px;

}


.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.footer__contacts-wrapper {
    display: flex;
    gap: 35px;
}


.footer__mail {
    display: flex;
    align-items: center;
    gap: 12px
}


.footer__mail-icon {}


.footer__mail-name {
    font-size: 18px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: var(--color--blue--accent);
    transition: var(--transition--effect);
}

.footer__mail:active {
    color: var(--color--white);
}

.footer__phone {
    display: flex;
    align-items: center;
    gap: 12px
}

.footer__phone-icon {}

.footer__phone-name {
    font-size: 18px;
    text-align: right;
    transition: var(--transition--effect);
}

.footer__phone:hover {
    color: var(--color--blue);
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.footer__socials-text {
    font-weight: 600;
    font-size: 10px;
    line-height: 210%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--color--grey);
}

.footer__socials-items {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer__socials-image {
    transition: var(--transition--effect);
    opacity: 1;
}

.footer__socials-image:hover {
    opacity: 0.7;
}

.footer__socials-icon {}

.footer__copyright-text {
    position: relative;
    line-height: 150%;
    text-align: center;
    background: linear-gradient(180deg, #fff 65.96%, rgba(105, 104, 104, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__copyright-text::before, .footer__copyright-text::after {
    content: "";
    position: absolute;
    top: 50%;
    border: 1px solid rgba(0, 224, 255, 0.2);
}


.footer__copyright-text::before {
    width: 100%;
    right: 65%;
}


.footer__copyright-text::after {
    width: 100%;
    left: 65%;
}

.footer__developer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    padding: 18px 0;


}

.footer__deloper-text {
    font-weight: 600;
    font-size: 10px;
    line-height: 210%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--color--grey);
}

.footer__deloper-block {
    max-width: 100%;
}

.footer__deloper-image {}


/* Адаптив */

@media (width <=1200px) {
    .footer__copyright-text::before {
        right: 70%;
    }


    .footer__copyright-text::after {
        left: 70%;
    }

}


@media (width <=950px) {
    .footer__copyright-text::before {
        right: 75%;
    }


    .footer__copyright-text::after {
        left: 75%;
    }

}


@media (width <=810px) {

    .footer__contacts-wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .footer__contacts {
        gap: 20px;
    }
}


@media (width <=720px) {
    .footer__copyright-text::before {
        right: 80%;
    }


    .footer__copyright-text::after {
        left: 80%;
    }

}


@media (width <=670px) {

    .footer__wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

}



@media (width <=578px) {

    .footer__wrapper{
        padding: 40px 0;
    }
    
    .footer__copyright-text::before {
        display: none;
    }


    .footer__copyright-text::after {
        display: none;
    }

    .footer__copyright-text{
        text-align: start;
    }

}