.header-background {
    background-image: url("../../../icons/header-photos/herader-background.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

}


.header {
    position: relative;
}


.consultation {
    position: fixed;
    left: 20px;
    top: 240px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    transform: rotate(-90deg);
    z-index: 10;
    color: var(--color--blue);
}


.consultation__button {
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
}


.consultation::after {
    content: "Бесплатная консультация";
    font-size: 10px;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
    transition: var(--transition--effect);
}


.consultation:hover::after {
    opacity: 1;
}

.consultation__button-pulse {
    position: absolute;
    background: var(--color--blue);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: -1;
    animation: moving-vibration 3s infinite;
}


.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0px;
    margin-bottom: 110px;
    gap: 30px;
}


.header__logotype img {
    max-width: 287px;
}


.header__contacts {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: var(--transition--effect);
}


.header__phone-mobile--image {
    display: none;
}


.header__phone-number {
    font-size: 18px;

}


.header__contacts:hover {
    color: var(--color--blue);
}


.menu {
    position: absolute;
    right: 0px;
    display: none;
    z-index: 5;
}

.menu--open{
    display: block;
}

.menu__wrapper {
    box-shadow: var(--color--menu--shadow);
    background: var(--color--menu--background);
    border-radius: 0 0 0 22px;
    height: 105px;
    max-width: 100%;
    padding: 30px 25px;
    position: relative;
}

.menu__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu__inner::before, .menu__inner::after {
    content: "";
    position: absolute;
    left: 25px;
    right: 25px;
    height: 1px;
    opacity: 0.25;
    background: #ffffff;
}


.menu__inner::before {
    top: 20px
}

.menu__inner::after {
    bottom: 20px;
}




.header__hero {
    margin-bottom: 80px;
}


.header__subtitle {
    font-weight: 600;
    font-size: 18px;
    color: var(--color--grey);
    margin-bottom: 18px;
}


.header__title {
    font-weight: 600;
    line-height: 110%;
    font-size: clamp(51px, 1.679rem + 6.71vw, 108px);
    background: linear-gradient(180deg, var(--color--white) 31.75%, #1a3031 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 18px;
}


.header__description {
    max-width: 580px;
    line-height: 125%;
    font-size: 18px;
}

.header__image {
    display: none;
    margin: 20px 0 20px 0;
    mix-blend-mode: lighten;
}


.header__image img {
    max-width: 100%;

}


.header__guarantee {
    display: flex;
    gap: 33px;
    margin-bottom: 100px;
}

.header__guarantee-image {
    position: relative;
}

.header__guarantee-image img {
    padding: 18px 16px 14px 16px;
    background: linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.11) 100%);
    border-radius: 12px;
}

.header__guarantee-image::before {
    content: "";
    position: absolute;
    background: url("../../../icons/Rectangle\ 2.svg");
    min-width: 71px;
    min-height: 71px;
}


.header__guarantee-text {
    line-height: 178%;
}

.header__guarantee-title {
    font-weight: 700;
    font-size: 18px;

    line-height: 150%;
}



.header__guarantee-description {
    color: var(--color--blue);
    max-width: 472px;
    font-size: 18px;
}


.header__guarantee-description span {
    line-height: 128%;
}



.header__button {
    margin-bottom: 180px;
}

.button__scroll-section {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
}


.button__scroll-section::before {
    content: "Листайте вниз";
    font-weight: 600;
    line-height: 0px;
    font-size: 10px;
    letter-spacing: 0.36em;
    text-transform: uppercase;
    color: var(--color--grey);
    transform: rotate(-90deg);
    position: absolute;
    top: -100px;
    transition: var(--transition--effect);
    opacity: 0;
    visibility: visible;

}


.button__scroll-section:hover::before {
    opacity: 1;
}


.button__scroll {
    background: rgba(196, 196, 196, 0);
    border: 1px solid #4a8bec;
    border-radius: 60px;
    width: 20px;
    height: 37px;
    display: flex;
    justify-content: center;

}


.button__slider {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #4abcec;
    box-shadow: 0 4px 10px 0 rgba(74, 217, 236, 0.75);
    transform: translateY(5px);
    animation: moving-circle 3s infinite;
}



/* Анимации */

@keyframes moving-circle {

    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(200%);
    }


    100% {
        transform: translateY(5px);
    }

}


@keyframes vibration {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.75);
        opacity: 0.0;
    }

}





/* Адаптив */

@media (width <=1800px) {
    .consultation {
        position: fixed;
        flex-direction: row;
        left: auto;
        top: auto;
        right: -110px;
        bottom: 145px;
    }


    .consultation__button, .consultation__button-pulse {
        width: 80px;
        height: 80px;
    }
}


@media (width <=1460px) {

    .header__button {
        margin-bottom: 200px;
    }
}


@media (width <=1060px) {
    .button__scroll-section::before {
        display: none;
    }
}


@media (width <=900px) {
    .header-background {
        background: url("../../../icons/header-photos/header-background-mobile.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__top {
        margin-bottom: 50px;
    }


    .header__hero {
        margin-bottom: 40px;
    }


    .header__image {
        display: inline-block;
    }


    .header__guarantee {
        margin-bottom: 0px;
    }

    .consultation__button, .consultation__button-pulse {
        width: 60px;
        height: 60px;
    }

}


@media (width <=578px) {


    .header__top {
        margin-bottom: 50px;
        padding-top: 30px;
    }


    .header__logotype img {
        max-width: 230px;
    }


    .header__contacts {
        display: none;

    }


    .header__phone-mobile--image {
        display: inline-block;
    }

    .header__hero {
        margin-bottom: 40px;
    }


    .header__subtitle {
        font-size: 16px;
        margin-bottom: 8px;
    }


    .header__title {
        margin-bottom: 15px;
    }


    .header__description {
        font-size: 16px;
    }


    .header__guarantee-title {
        font-size: 16px;
        line-height: 131%;
    }


    .header__guarantee-description {
        line-height: 160%;
        font-size: 14px;
    }


    .header__button {
        width: 100%;
        margin-bottom: 140px;
    }

    .button__scroll-section {
        bottom: 55px;
    }
}