.section__advantages {
    position: relative;
}

.advantages__title {
    padding-bottom: 40px;
    max-width: 865px;
}

.advantages__list {
    margin-bottom: 55px;
}

.advantages__list-item {
    max-width: 680px;
    display: flex;
    align-items: flex-start;
    gap: 21px;
    margin-bottom: 25px;

}


.advantages__list .advantages__list-item:last-child {
    margin-bottom: 0px;
}

.advantages__list-icon {
    transform: translateY(-10px);

}

.advantages__list-text {
    position: relative;
    font-size: 16px;
    line-height: 144%;
}


.advantages__list-text::before {
    content: "";
    position: absolute;
    background: url("../../../icons/sprites/blick-cards.svg");
    width: 65px;
    height: 30px;
    left: -20px;
    top: -4px;
}


.advantages__icon {
    mix-blend-mode: lighten;
    max-width: 1052px;
    position: absolute;
    top: 150px;
    right: 0;
}


.advantages__icon img {
    max-width: 100%;
}

.advantages__icon-mobile {
    display: none;
}


/* Адаптив */

@media (width <=1600px) {
    .advantages__icon {
        max-width: 900px;
    }
}

@media (width <=1450px) {
    .advantages__icon {
        max-width: 800px;
        top: 220px;
    }
}



@media (width <=1200px) {
    .advantages__icon {
        max-width: 600px;
        top: 300px;
    }
}


@media (width <=1024px) {

    .advantages__list {
        margin-bottom: 0px;
    }

    .advantages__icon {
        max-width: 950px;
        position: static;
        margin-bottom: 20px;
        text-align: center;
    }
}


@media (width <=578px) {
    .advantages__list-text {
        font-size: 14px;
    }

    .advantages__title {
        padding-bottom: 30px;
    }

    .advantages__button {
        width: 100%;
    }
}


@media (width <=400px) {
    .advantages__icon-main {
        display: none;
    }

    .advantages__icon-mobile {
        display: block;
    }

}