.announcement__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}



.announcement__button {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--color--blue);
    border-radius: 9px;
    width: 213px;
    color: var(--color--blue--accent);
    padding: 22px 0px 25px 0px;
}


.swiper {
    position: relative;
}

.announcement__slider-button {
    position: absolute;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background: #08262B;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.button-left {
    top: 20%;
    left: 20px;
}

.button-right {
    position: absolute;
    top: 20%;
    right: 20px;
}

.announcement__icon-right {
    transform: rotateY(180deg);
}


.announcement__slider-button:hover {
    background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
    box-shadow: 0 7px 20px -7px var(--color--blue);
}


.announcement__button-mobile {
    display: none;

}



.announcement__slide-top {
    position: relative;
}

.announcement__wrapper {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
}


.announcement__wrapper::after {
    content: "";
    background: url(../../../icons/sprites/blick-cards.svg);
    width: 65px;
    height: 30px;
    position: absolute;
    left: 30px;
    bottom: -15px;
}


.announcement__wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2.5px;
    border-radius: inherit;
    background: var(--border-color);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.announcement__wrapper img {
    width: 100%;
    height: 100%;
}



.date-wrapper {
    position: absolute;
    top: 21px;
    right: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 175%;
    display: flex;
    align-items: center;
    gap: 7px;
}


.date-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 175%;
    color: var(--color--white);
}


.announcement__slide-text {
    margin-bottom: 10px;
}

.announcement___slide-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 131%;
}

.announcement__slide-description {
    font-size: 15px;
    line-height: 140%;
    background: linear-gradient(180deg, #fff 65.96%, rgba(105, 104, 104, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.slide-caption {
    font-size: 12px;
    line-height: 175%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color--blue--accent);
}

/* Адаптив */

@media(width <=800px) {
    .announcement__slider-button {
        width: 42px;
        height: 42px;
    }

    .announcement__icon-left, .announcement__icon-right {
        width: 16px;
        height: 12px;
    }
}


@media(width <=768px) {
    .announcement__button {
        display: none;
    }

    .announcement__button-mobile {
        display: block;
        padding: 10px 15px;
        margin: 20px auto 0;

    }
}