.block_1 {
    color: white;
    background: #FF7100;

}

.block_1__span{
    color:#06276F;
}

.block_1__square{
    background: #FFA900;
    width: 100px;
    height: 100px;
}

.block_2{
    background:#009B95;
    width: 300px;

}

.block_2__span{
    color: white;
    background: #006561;

}
