.block_1 {
    color: white;
    background: rgb(192, 113, 113);

}

.block_1__span{
    color:blueviolet;
}

.block_1__square{
    background: rgb(20, 117, 228);
    width: 100px;
    height: 100px;
}

.block_2{
    background: greenyellow;
    width: 300px;

}

.block_2__span{
    color: white;
    background: rgb(0, 247, 255);

}
